@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.welcome-bg {
  background-image: url('/public/Welcome-768.png');
}

.black__gradient {
    background-image: linear-gradient(to top, transparent 50%, black 100%);
    top: 0;
}

.pagination {
    display: flex;
    justify-content: center;
}
  
.paginationDot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  padding: 5px;
  background-color: black;
  transition: background-color 0.3s ease;
}

.paginationDot.active {
  background-color: #BB945F;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: transparent;
}

input[type="radio"]:checked {
  background-color: black;
}


.icon-profile {
  width: 28px;
  height: 28px;
  cursor: pointer;
  margin: 0 1.5rem;
}

.book-list {
  display: grid;
}

.book-card {
  width: 550px;
  height: 555px;
  border: 1px solid #000;
  position: relative;
}


.book-card img {
  width: 200px;
  height: 300px;
  position: absolute;
  bottom: -1px;
  right: -40px; 
}

.burger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  height: 570px;
  background-color: #000000;
  right: 0;
  top: 0;
  z-index: 1;
  transform: translateY(-100%);
  overflow: hidden;
  transition: all 0.5s;
}

.burger-menu.active {
  transform: translateX(0);
}

a[href^="#"] {
  scroll-behavior: smooth;
}

.burger-img {
  width: 80px;
  height: 100%;
  position: relative;
  z-index: 2;
  align-items: center;
  margin-right: auto;
}


.line {
  width: 45px;
  height: 2px;
  right: 6%;
  position: absolute;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.main-slider-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.all-pages{
  display: flex;
  justify-items: center;
  margin-bottom: 2rem;
  transition: translate;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}



.line:nth-of-type(2) {
  top: calc(50% - 7px);
}

.line:nth-of-type(3) {
  top: calc(50% + 3px);
}

.line.active:first-of-type {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.line.active:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.line.active:nth-of-type(3) {
  transform: translateX(200%);
}

@media (max-width: 970px) {
  .burger-img {
    display: block;
  }
}

@media (min-width: 971px) {
  .burger-img {
    display: none;
    pointer-events: none;
  }
}

@media (max-width: 599px) {
  .welcome-section {
    height: 90vh;
  }
  .welcome-container{
    width: 100%;
    height: 40%;
  }
  .welcome-container h3 {
    font-size: 2.1rem;
  }
}

