@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

.black__gradient {
    background-image: linear-gradient(to top, transparent 50%, black 100%);
    top: 0;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
  
.paginationDot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  padding: 5px;
  background-color: black;
  transition: background-color 0.3s ease;
}

.paginationDot.active {
  background-color: #BB945F;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: transparent;
}

input[type="radio"]:checked {
  background-color: black;
}


.book-list {
  display: grid;
}

.book-card {
  width: 550px;
  height: 555px;
  border: 1px solid #000;
  position: relative;
}


.book-card img {
  width: 200px;
  height: 300px;
  position: absolute;
  bottom: -1px;
  right: -40px; 
}

a[href^="#"] {
  scroll-behavior: smooth;
}